@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:wght@100;400;500;800&display=swap");
@import "tailwindcss";

@theme {
  /* Color */
  --color-primary: #15171c;
  --color-solid: #ff6a1a;
  --color-solidOne: #cc5415;
  --color-solidTwo: #e6392f;
  --color-solidThree: #ffc586;
  --color-solidFour: #350503;
  --color-solidFive: #b6452a;
  --color-tertiary: #ff853a;
  --color-textColor: #d6d6d6;
  --color-gray-50: #7b7b7b;

  /* Font */
  --font-sans: "Mona Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

html,
body {
  background-color: var(--color-primary);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .max-padd-container {
    @apply mx-auto max-w-[1440px] px-4 lg:px-12;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }
  .flexStart {
    @apply flex items-center justify-start;
  }
  .flexEnd {
    @apply flex items-center justify-end;
  }
  .btn-solid {
    @apply px-6 py-3 active:scale-95 transition bg-solidThree border border-gray-500/20 text-solidFour text-sm font-medium rounded-full cursor-pointer;
  }
  .btn-dark {
    @apply px-6 py-3 active:scale-95 transition bg-gray-500/10 border border-gray-500/20 text-textColor text-sm font-medium rounded-full cursor-pointer;
  }
  .btn-outline {
    @apply px-6 py-3 active:scale-95 transition border-[1.5px] border-solidThree text-textColor text-sm font-medium rounded-full cursor-pointer;
  }
  .btn-black {
    @apply px-6 py-3 active:scale-95 transition bg-primary text-textColor text-sm font-medium rounded-full cursor-pointer;
  }
}

@layer utilities {
  .active-link {
    @apply relative after:w-2/5 after:h-1 after:rounded-full after:bg-solidThree after:absolute after:-bottom-0.5 after:right-3;
  }
  h1 {
    @apply text-[41px] md:text-[45px] font-bold;
  }
  h2 {
    @apply text-[31px] md:text-[35px] font-bold;
  }
  h3 {
    @apply text-[24px] md:text-[28px] font-bold;
  }
  h4 {
    @apply text-[17px] md:text-[19px] font-bold;
  }
  h5 {
    @apply text-[14px] md:text-[16px] font-bold;
  }
  p {
    @apply leading-[1.3] text-[14px] text-textColor;
  }
}
